<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout :: header"></head>
</head>

    <nav th:replace="layout :: navbar"></nav>

<body>

    <div class="container">
        <form action="/content/save" method="POST" th:object="${content}">

            <input type="text" placeholder="Name" th:field="${content.name}">

            <select th:field="${content.category}">
                <option th:value="ENTERTAINMENT">Entertainment</option>
                <option th:value="BUSINESS">Business</option>
                <option th:value="LIFESTYLE">Lifestyle</option>
                <option th:value="SPORTS">Sports</option>
                <option th:value="FUNNY">Funny</option>
            </select>

            <input type="text" placeholder="Link" th:field="${content.link}">

            <button type="submit">Create Project</button>

        </form>
    </div>

</body>
</html>