<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: header"></head>
<nav th:replace="layout :: navbar"></nav>

<body>

    <div class="container">
        <form th:action="@{/category/save}" method="POST" th:object="${category}">

            <input type="text" placeholder="Name" th:field="${category.name}">

            <button type="submit">Add Category</button>

        </form>
    </div>

    <div class="container">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Category Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="eachCategory : ${categories}">
                    <td th:text="${eachCategory.name}"></td>
                    <td>
                        <a class="btn btn-dark btn-sm mb-3" th:href="@{/category/edit/edit/} + ${eachCategory.id}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-dark btn-sm mb-3" th:href="@{/category/edit/delete/} + ${eachCategory.id}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>