<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="layout :: header"></head>
</head>

    <nav th:replace="layout :: navbar"></nav>

<body>

    <div class="container">
        <div class="col">
            <h4>My Content </h4>
        </div>
        <div class="col">
            <span th:text="${versionNumber}"></span>
        </div>
        <hr>

        <a th:href="@{/content/new}"
           class="btn btn-dark btn-sm mb-3">
            New Content
        </a>

        <a th:href="@{/category/edit}"
           class="btn btn-dark btn-sm mb-3">
            Edit Categories
        </a>

        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Content Name</th>
                    <th>Category</th>
                    <th>Link</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="content : ${content}">
                    <td th:text="${content.name}"></td>
                    <td th:text="${content.category != null}? ${content.category.name} : 'Unassigned'"></td>
                    <td>
                        <a th:href="${content.link}" th:text="${content.link}"></a>
                    </td>
                    <td>
                        <a class="btn btn-dark btn-sm mb-3" th:href="@{/content/edit/} + ${content.id}">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-dark btn-sm mb-3" th:href="@{/content/delete/} + ${content.id}">Delete</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>